Assumptions made:
1. Since flight time is not an attribute, we assume that each flight can only fly once in a day.
2. It is assumed that *atLeastNTimes: Int* in the extra question refer to more than N and does not include N.

In [1]:
import pandas as pd

In [2]:
flights = pd.read_csv('flightData.csv')
flights.head()

   passenger_id  flight_id from   to        date
0             1          1    SG  MY  01/01/2025
1             2          1    SG  MY  01/01/2025
2             2          2    MY  CN  02/01/2025
3             3          2    MY  CN  02/02/2234
4             4          2    MY  CN  02/01/2025

In [3]:
passengers = pd.read_csv('passengers.csv')
passengers.head()

   passenger_id first_name last_name
0             1       Adam     Smith
1             2     Xavier   Bennett
2             3     Olivia    Carter
3             4    Jia Jia       Lee
4             5    Brianna    Howard

In [4]:
print(flights.columns)
print(passengers.columns)

Index(['passenger_id', 'flight_id', 'from ', 'to', 'date'], dtype='object')
Index(['passenger_id', 'first_name', 'last_name'], dtype='object')

In [5]:
flights['date'] = pd.to_datetime(flights['date'], format='%d/%m/%Y')
flights['month'] = flights['date'].dt.month
flights['month'].value_counts().sort_index().rename(index={1: "January", 2: "February"})

month
January     189
February    146
Name: count, dtype: int64

In [6]:
passenger_counts = flights['passenger_id'].value_counts().reset_index()
passenger_counts.columns = ['passenger_id', 'Number of Flights']

passenger_counts = passenger_counts.sort_values(by=['Number of Flights'], ascending=[False])

#Find the number of flight of the 10th person
threshold = passenger_counts.iloc[9]['Number of Flights']

#Anyone who is more than or equal to the value of the 10th person will also be added to the table
top_passengers = passenger_counts[passenger_counts['Number of Flights'] >= threshold]


result = pd.merge(top_passengers, passengers, on='passenger_id', how='left')
result = result[['passenger_id', 'Number of Flights', 'first_name', 'last_name']]

print(result)

# Since the last 4 passengers took the same number of flights, all the 4 passengers will be included.

    passenger_id  Number of Flights first_name last_name
0             72                  8    Chelsea      Kwek
1             92                  8    Cameron     Evans
2            129                  8       Enna     Chong
3             38                  6    Tristan       Cox
4             14                  6    Vanessa       Lim
5             10                  6      Caleb   Sanders
6             35                  5   Kai Xuan       Ong
7              6                  5     Damien       Ong
8              5                  4    Brianna    Howard
9            172                  4    Sarbina       Loh
10             8                  4      Ethan       Koh
11           176                  4     Emmett     Scott

In [7]:
# Only these 3 attributes are important for this question
longestrun = flights[['passenger_id', 'from ', 'to']]

# Function to compute the longest sequence of unique countries without SG
def longest_run_without_sg(countries):
  max_run = 0
  current_run = set()

  for country in countries:
    # Reset when we hit SG
    if country == 'SG':
      current_run.clear()
    else:
      # Add to current run if it is not 'SG'
      current_run.add(country)
      max_run = max(max_run, len(current_run))
  return max_run


# Function to deal with each passenger
def get_longest_run(group):
  # List all the countries from 'from' column and the last country from 'to' column
  travel_sequence = list(group['from ']) + [group['to'].iloc[-1]]
  return longest_run_without_sg(travel_sequence)


# Group by 'passenger_id' and apply get_longest_run function
longest_runs = longestrun.groupby('passenger_id', group_keys=False).apply(get_longest_run, include_groups=False).reset_index()
longest_runs.columns = ['passenger_id', 'Longest Run']


pd.set_option('display.max_rows', None)
print(longest_runs)

     passenger_id  Longest Run
0               1            1
1               2            2
2               3            2
3               4            2
4               5            2
5               6            3
6               7            1
7               8            3
8               9            2
9              10            1
10             11            2
11             12            1
12             13            2
13             14            5
14             15            1
15             16            2
16             17            2
17             18            1
18             19            2
19             20            1
20             21            2
21             22            1
22             23            1
23             24            1
24             25            1
25             26            1
26             27            1
27             28            1
28             29            2
29             30            1
30             31            2
31             32            2
32             33            1
33             34            2
34             35            2
35             36            1
36             37            2
37             38            3
38             39            2
39             40            1
40             41            2
41             42            2
42             43            1
43             44            1
44             45            1
45             46            2
46             47            1
47             48            1
48             49            1
49             50            1
50             51            1
51             52            2
52             53            2
53             54            1
54             55            2
55             56            1
56             57            1
57             58            1
58             59            2
59             60            1
60             61            1
61             62            1
62             63            2
63             64            1
64             65            1
65             66            1
66             67            1
67             68            2
68             69            1
69             70            1
70             71            2
71             72            6
72             73            1
73             74            2
74             75            2
75             76            1
76             77            1
77             78            1
78             79            1
79             80            1
80             81            2
81             82            2
82             83            1
83             84            2
84             85            2
85             86            1
86             87            1
87             88            1
88             89            2
89             90            2
90             91            1
91             92            5
92             93            1
93             94            1
94             95            2
95             96            2
96             97            1
97             98            1
98             99            2
99            100            1
100           101            1
101           102            2
102           103            3
103           104            1
104           105            2
105           106            2
106           107            1
107           108            2
108           109            1
109           110            1
110           111            1
111           112            1
112           113            1
113           114            1
114           115            1
115           116            2
116           117            1
117           118            1
118           119            2
119           120            1
120           121            1
121           122            2
122           123            2
123           124            1
124           125            2
125           126            1
126           127            2
127           128            1
128           129            1
129           130            2
130           131            1
131           132            1
132           133            2
133           134            2
134           135            1
135           136            1
136           137            2
137           138            1
138           139            1
139           140            2
140           141            2
141           142            1
142           143            1
143           144            1
144           145            1
145           146            1
146           147            2
147           148            2
148           149            1
149           150            2
150           151            1
151           152            1
152           153            1
153           154            2
154           155            1
155           156            1
156           157            2
157           158            1
158           159            2
159           160            1
160           161            1
161           162            1
162           163            1
163           164            1
164           165            2
165           166            1
166           167            1
167           168            1
168           169            2
169           170            1
170           171            2
171           172            3
172           173            1
173           174            2
174           175            1
175           176            3
176           177            2
177           178            2
178           179            1
179           180            2
180           181            2
181           182            1
182           183            2
183           184            1
184           185            2
185           186            1
186           187            1
187           188            2
188           189            2
189           190            1
190           191            2
191           192            1
192           193            2
193           194            1
194           195            1
195           196            1
196           197            1
197           198            2
198           199            1
199           200            1
200           201            1
201           202            1
202           203            2
203           204            1
204           205            1
205           206            1
206           207            1
207           208            1
208           209            1
209           210            2
210           211            2
211           212            2
212           213            1
213           214            2
214           215            1
215           216            1
216           217            1
217           218            2
218           219            1
219           220            1
220           221            2
221           222            2
222           223            1
223           224            1
224           225            1
225           226            1
226           227            1
227           228            1
228           229            1
229           230            1
230           231            1
231           232            2
232           233            1
233           234            2
234           235            2
235           236            2
236           237            2
237           238            1
238           239            1
239           240            1
240           241            1
241           242            2
242           243            2
243           244            2
244           245            1
245           246            1
246           247            2
247           248            2
248           249            2
249           250            1
250           251            2
251           252            2
252           253            1
253           254            1
254           255            2
255           256            1
256           257            2
257           258            2
258           259            2
259           260            2

In [8]:
from itertools import combinations

freq_pairs = flights[['passenger_id', 'flight_id', 'date']]
pairs = []

# Group by 'flight_id' and 'date' to find passengers who took the same flight
for _, group in freq_pairs.groupby(['flight_id', 'date']):
  # Sort to avoid duplicate ordering
  passenger_ids = sorted(group['passenger_id'].tolist())
  for pair in combinations(passenger_ids, 2):
    pairs.append(pair)


pairs_df = pd.DataFrame(pairs, columns=['Passenger 1', 'Passenger 2'])

# Count occurrences of each pair
pair_counts = pairs_df.value_counts().reset_index()
pair_counts.columns = ['Passenger 1', 'Passenger 2', 'Flight Count']

# Filter pairs who have been on more than 2 flights together
frequent_pairs = pair_counts[pair_counts['Flight Count'] > 2]


print(frequent_pairs)

   Passenger 1  Passenger 2  Flight Count
0           10          129             6
1           14           92             6
2            6           38             4
3          172          176             3

In [ ]:
def flownTogether(flightData: pd.DataFrame, atLeastNTimes: int, startDate: str, endDate: str):


  flightData['date'] = pd.to_datetime(flightData['date'], format='%d/%m/%Y')

  # Filter flights within the specified date range
  filtered_flights = flightData[(flightData['date'] >= pd.to_datetime(startDate, format='%d/%m/%Y')) &
                                  (flightData['date'] <= pd.to_datetime(endDate, format='%d/%m/%Y'))]

  pairs = []

  # Group by 'flight_id' and 'date' to find passengers who took the same flight (Similar to the previous question)
  for _, group in filtered_flights.groupby(['flight_id', 'date']):
        # Sort to avoid duplicate ordering
        passenger_ids = sorted(group['passenger_id'].tolist())
        for pair in combinations(passenger_ids, 2):
            pairs.append(pair)


  pairs_df = pd.DataFrame(pairs, columns=['Passenger 1', 'Passenger 2'])

  pair_counts = pairs_df.value_counts().reset_index()
  pair_counts.columns = ['Passenger 1', 'Passenger 2', 'Flight Count']
  frequent_pairs = pair_counts[pair_counts['Flight Count'] > atLeastNTimes]

  return frequent_pairs


flightData = pd.read_csv('flightData.csv')

# Get user inputs
print("To find the passengers who have been on more than N flights together,")
atLeastNTimes = int(input("Enter the value of N: "))
startDate = input("Enter start date (dd/mm/yyyy): ")
endDate = input("Enter end date (dd/mm/yyyy): ")

result = flownTogether(flightData, atLeastNTimes, startDate, endDate)

print(result)

To find the passengers who have been on more than N flights together,